@font-face {
  font-family: remachine;
  src: url("./Assets/Fonts/Remachine.ttf");
}

@font-face {
  font-family: quintoRegular;
  src: url("./Assets/Fonts/QuinfoRegular.otf");
}

@font-face {
  font-family: quintoBold;
  src: url("./Assets/Fonts/QuinfoBold.otf");
}

* {
  margin: 0;
  padding: 0;
}

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 100vh;
  position: relative;
}

.mainDiv {
  width: 30%;
  padding: 2vh 2vw 4vh 2vw;
  border-radius: 6px;
  box-shadow: -2px 1px 8px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 8px 1px rgba(0, 0, 0, 0.75);
}

form {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  font-size: 2rem;
}

input {
  padding: 1.5vh 0.5vw;
  border-radius: 6px;
  outline: none;
  border: 2px solid #a0a0a0;
  font-size: 1.1rem;
  color: #707070;
}

input:first-child {
  margin: 6vh 0 4vh 0;
}

button {
  width: 100%;
  font-size: 1.3rem;
  padding: 1vh 0 1vh 0;
  margin-top: 6vh;
  border-radius: 6px;
  border: 2px solid #047857;
  background-color: #16a34a;
  color: #d1fae5;
}

button:hover {
  scale: 1.05;
  transition-duration: 0.5s;
  background-color: #d1fae5;
  color: #16a34a;
}

.alertMsg {
  padding: 3vh 4vw;
  font-size: 1.2rem;
  position: absolute;
  top: -10vh;
  font-family: quintoRegular;
  letter-spacing: 3px;
}

.animateMsg {
  animation: slideDown 2s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20vh);
  }
  90% {
    transform: translateY(20vh);
  }
  100% {
    transform: translateY(0);
  }
}
